.wysiwyg-wrapper {
  border: 1px solid #bbbbbb;
  margin: 0;
  .rdw-editor-toolbar {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    .rdw-option-wrapper {
      border-color: #c1c1c1;
      padding: 10px 5px;
    }
    .rdw-option-active {
      border-color: #6d6d6d;
      box-shadow: 1px 1px 0px #6d6d6d inset;
    }
  }
  .wysiwyg-editor {
    padding: 0 10px 5px;
    min-height: 500px;
    .public-DraftStyleDefault-block {
      margin: 0;
    }
  }
}
