.wysiwyg-wrapper {
  border: 1px solid #bbbbbb;
  margin: 0;
  .rdw-editor-toolbar {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    .rdw-option-wrapper {
      border-color: #c1c1c1;
      padding: 10px 5px;
    }
    .rdw-option-active {
      border-color: #6d6d6d;
      box-shadow: 1px 1px 0px #6d6d6d inset;
    }
  }
  .wysiwyg-editor {
    padding: 0 10px 5px;
    min-height: 350px;
    .public-DraftStyleDefault-block {
      margin: 0;
    }
    img {
      max-height: 30vh;
    }
  }
}
.post {
  .post-image {
    display: flex;
    align-items: center;
    flex-direction: column;

    .post-image-container {
      width: 300px;
      height: 150px;
      max-width: 100%;
      position: relative;
      .post-image-btn {
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        // display: none;
      }
      &:hover {
        .post-image-btn {
          display: block;
        }
      }
    }
  }
}
